<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="chats" href="/tabs/chats">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-label>Chats</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="statuses" href="/tabs/statuses">
      <ion-icon name="people-circle-outline"></ion-icon>
      <ion-label>Estados</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="groups" href="/tabs/groups">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Grupos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
