<ion-content [fullscreen]="true" class="h-screen">
  <ion-grid class="h-full p-4">
    <ion-row class="h-[50%]">
      <ion-col size="12" class="flex flex-col items-center justify-center">
        <ion-img
          src="../../assets/images/MAIN_ILLUSTRATOR.svg"
          class="object-cover"
        />
      </ion-col>
    </ion-row>

    <ion-row class="h-[30%] flex flex-col items-center justify-center">
      <ion-col
        size="12"
        class="gap-8 flex flex-col items-center justify-center"
      >
        <h1
          class="font-poppins text-3xl tracking-wide font-semibold text-bluePrimary text-center"
        >
          La fórmula perfecta para comunicarte
        </h1>

        <h2
          class="font-poppins text-sm font-light text-center tracking-wide leading-relaxed"
        >
          Crea y descubre nuevas conexiones en base a tus intereses y
          necesidades
        </h2>
      </ion-col>
    </ion-row>

    <ion-row class="flex flex-col justify-end h-[20%] grow">
      <ion-col
        size="12"
        class="flex flex-col gap-4 items-center justify-center"
      >
        <div class="w-full">
          <ion-button
            shape="round"
            fill="solid"
            color="primary"
            class="w-full shadow-lg backdrop-blur-sm rounded-lg"
            [routerLink]="['/auth/login']"
            ><span class="text-white font-poppins">Ingresar</span></ion-button
          >
        </div>

        <div class="w-full">
          <ion-button
            shape="round"
            color="dark"
            fill="clear"
            class="w-full "
            [routerLink]="['/tabs']"
            ><span class="font-poppins font-semibold"
              >Registrarse</span
            ></ion-button
          >
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
